.Rproj.user 
.Rhistory
.RData
.Ruserdata

# Rendered output
*.html
.Rcache/
_cache/
.knit/

# Logs (optional)
# logs/

# PDFs (optional)
# *.pdf

# CSVs: allow FINS data only (optional)
# *.csv
# !data/TrappingData_FINS_*.csv